<div>
  <%= label :completion_date, "Complete", value: false %>
  <%= f.radio_button :completion_date, false, :checked => true, :value => false %>
</div>

<div>
  <%= label :access_rights, "Read and Write", value: true %>
  <%= f.radio_button :access_rights, true, :value => true%>
</div>
