
<h1> All Tasks</h1>
<%= link_to "Add Task", new_task_path %>


<ul>
  <% @tasks.each do |task|  %>
  <li>
      <%= link_to task.name, task_path(task.id) %>
    </li>
    <li><%= link_to "Mark as Complete", task_path(task.id), method: :patch %>
    </li>
  <% end %>
</ul>
