
<h1> All Tasks</h1>
<%= link_to "Add Task", new_task_path %>


<ul>
  <% @tasks.each do |task|  %>
  <% if task.completion_date != nil %>
<li><%= link_to "#{task.name}", task_path(task.id), class: "complete" %></li>
<%else %>
<li>
    <%= link_to task.name, task_path(task.id) %>
  </li>
<% end %>

    <li><%= link_to "Mark Complete", complete_task_path(task.id), method: :patch %>
    </li>
  <% end %>
</ul>
